.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #f1f1f1;
    padding: 15px;
}

.container img {
    max-width: 100%;
    height: auto;
}