.container {
    background-color: lightgray;
    width: 950px;
    padding: 10px;
}

.top-nav {
    background-color: green;
    height: 150px;
    width: 900px;
    margin: 15px;
}

.side-nav {
    height: 300px;
    width: 230px;
    margin: 15px;
    background-color: blue;
    margin: 10px;
}

.main {
    height: 400px;
    width: 650px;
    padding: 10px;
    background-color: red;
    margin: 10px;
    margin-left: auto;
    margin-top: -300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sub-content {
    height: 160px;
    width: 170px;
    margin: 10px;
    padding: 10px;
    background-color: yellow;
}

#advertisement {
    height: 100px;
    width: 620px;
    margin-left: 10px;
    background-color: rebeccapurple;
    margin-top: 10px;
}